body {
  margin: 0;
  background: #0d1117;
  color: #00ff90;
  font-family: "細明體_MSCS-ExtB";
  padding: 20px;
}

h1{
  font-size: xxx-large;
}

#terminal {
  max-width: 900px;
  margin: auto;
}

#output {
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.line {
  margin: 4px 0;
}

.input-line {
  display: flex;
  gap: 8px;
  align-items: center;
}

input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #00ff90;
  font-size: 16px;
  font-family: monospace;
}

.prompt {
  color: #58a6ff;
}

.hint {
  opacity: 0.7;
  margin-bottom: 10px;
}

a {
  color: aquamarine;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
